html, body {
    margin:0;
    padding: 0;
}

body {
    background-color: cornflowerblue;
    width: 100vh;
    height: 50.45vw;
    position: absolute;
}

img {
    max-width: 5vh;
    max-height: 5vh;
}

.footer {
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: n;
    align-items: center;
}